{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Rent{% endblock %}
<head>

</head>



{% block page_content %}

<div class="page-header">
<div  class = 'text-center'>
    <h1>Describe Your Apartment Unit:</h1>
</div>
</div>


<!-- 
<div class = 'row'>
{{wtf.quick_form(form)}}
</div>

-->

<div class = 'container'>

<!-- put something here! -->
<form method="post" role="form">
 {{ form.hidden_tag() }}
  {{ wtf.form_errors(form, hiddens="only") }}

<div class = 'row'>
<div> {{ wtf.form_field(form.address)}}</div>
<div> {{ wtf.form_field(form.town)}} </div>
<div> {{ wtf.form_field(form.sqft)}} </div>
<div> {{ wtf.form_field(form.bedrooms)}} </div>
<div> {{ wtf.form_field(form.bathrooms)}} </div>

<div style= 'margin-top: 5em'>
<div class = 'text-center'>
<h1>
Amenities <br><br>
</h1>
</div>

<div class = 'row'>
<font size="3">
<b>
<div class="col-md-4"> 
<p style="margin-left:5em">
Air Conditioner: {{form.ac}}<br><br>
TV Cable: {{form.cable}}<br><br>
Deck: {{form.deck}}<br><br>
Dishwasher: {{form.dishw}}<br><br>
</p>

</div>

<div class="col-md-4">
<p style="margin-left:5em">
Wifi Internet: {{form.wifi}}<br><br>
Laundry Facility: {{form.laundry_f}}<br><br>
Microwave: {{form.microw}}<br><br>
</p>
</div>



<div class="col-md-4">
<p style="margin-left:5em">
Pets Allowed: {{form.if_pets}}<br><br>
Refrigerator : {{form.fridge}}<br><br>
Washer Dryer Unit: {{form.wash_dry_unit}}<br><br>
A Studio: {{form.if_studio}}<br><br>
</p>
</div>
</font>
</b>
</div>

<div class = 'row'>
<div class = 'text-center'>
{{wtf.form_field(form.submit)}}<br><br><br>
</div>
</div>


</div>
</form>



<a href="http://www.fernandodata.com">Created by Fernando H. </a><br><br>






{% endblock %}



