{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Rent{% endblock %}



{% block page_content %}


  <section id="showcase" class="d-flex justify-content-center align-items-center">
        <div id="overlay"></div>
        <div id="header" class="container text-white text-center">
        
            <h1 class="display-4 text-center">A.I. Powered Market Analysis</h1>
            <p class="lead d-none d-md-block mb-5" >Predict rental prices with a click of a button.</p>
            <hr class="my-4">
            <p class="lead">
		  	<a class="btn btn-primary btn-lg" href="mailto:fernancapac@gmail.com" role="button">Get Access</a>
		    <a class="btn btn-primary btn-lg" href="/form" role="button">Try Rent</a>
		  	</p>


        
        </div>
    </section>

<!-- JUMBOTRON -->
<!-- <section class="d-flex justify-content-center align-items-center">
	<div id='main-jumbo' class="jumbotron text-center text-white  ">
	  <h1 class="display-4">A.I. Powered Market Analysis</h1>
	  <p class="lead"> Predict rental prices with a click of a button. </p>
	  
	  <p class="lead">
	  	<a class="btn btn-primary btn-lg" href="mailto:fernancapac@gmail.com" role="button">Get Access</a>
	    <a class="btn btn-primary btn-lg" href="/form" role="button">Try Rent</a>
	    
	  </p>
	</div>
</section> -->


<div class = 'container px-5'>

	<div class='row'>



		<div class='col-xl-6 col-lg-12 '>

			<div class='about-content d-flex  align-items-center flex-column py-sm-3 py-lg-4  px-3 px-lg-2 mx-md-3'>

			Rent performs market analysis in seconds with the help of machine learning technology. It recommends a suggested price using rent data from around your area. If you are renting a house or looking for one, Rent makes in easy to compare. 
			Rent currently covers <b>North New Jersey</b>.

			</div>

			

		</div>
	 
		<div class='col-xl-6 col-lg-12 px-5 pt-lg-4 pt-md-5'>
			<form method="post" role="form">
			 {{ signinform.hidden_tag() }}
			 {{ wtf.form_errors(signinform, hiddens="only") }}

			 <div class="form-group md-12">
			 	{{ wtf.form_field(signinform.username)}}
			 	{{ wtf.form_field(signinform.password)}}
			 </div>

		
			<div class = 'text-center'>
				<button type="submit" class="btn btn-lg btn-primary">Log In</button>
			</div>

			</div>
			</form>

		</div>
	</div>
</div>

<!-- <hr class="my-5"> -->

{%endblock%}

