{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Rent{% endblock %}
<head>

</head>



{% block page_content %}
<div class = 'row'>
<div class="jumbotron">

<div class = 'row'>
<div class = 'col-md-5'>
<br><br><br>
    <h1>Rent</h1>
    <h2>The Rental Market Analysis App</h2>
    <div class = 'text-center'>
        <a class="btn btn-primary btn-lg" href="/test" role="button">Try It</a>
        </div>
</div>
<div class = 'col-md-7'>
<img src="static/for_rent.jpg"  style="width:600px;height:310px;">
</div>


    
</div>
</div>
</div>






</div>



<div class = 'row'>
<div class = 'col-md-6' style="padding-left:80px;">
<h3> About</h3><br>
<font size = 3>
The Rental Market Analysis App saves you time when you are deciding on how much to charge for your next apartment. It uses data from online rental websites along with machine learning methods to arrive at a comparable price compared to similar rentals. Rent now covers all of <b>North Jersey</b>.
<br><br><br>
<div  style="padding-left:180px;">
<a class="btn btn-primary btn-md" href="mailto:fernancapac@gmail.com" role="button">Get Full Access</a>
</div>
</div>



<div class = 'col-md-6'>
<!-- put something here! -->
<form method="post" role="form">
 {{ signinform.hidden_tag() }}
  {{ wtf.form_errors(signinform, hiddens="only") }}

<div class = 'row'>
<div class = 'col-md-2'>
</div>
<div class = 'col-md-7'>
<div  class = 'text-center'>
<h3> Log In</h3>
<font color = 'blue'>{{response}}</font>
</div>
<div> {{ wtf.form_field(signinform.username)}} </div>
</div>
<div class = 'col-md-3'>
</div>
</div>

<div class = 'row'>
<div class = 'col-md-2'>
</div>
<div class = 'col-md-7'>
<div> {{ wtf.form_field(signinform.password)}} </div>
<div  class = 'text-center'>
{{wtf.form_field(signinform.submit)}} 

</div>
</div>
<div class = 'col-md-3'>
</div>
</div>



</form>
</div>
</div>



<div class = 'row' style="padding-left:80px;" style="padding-top:30px;">
<br><br>

<a href="http://www.fernandodata.com">Created by Fernando H.</a><br><br>


</div>



{% endblock %}